html, body {
    height: 100%;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
body {
    background-image: url('math-pattern.jpg');
    margin: 0;
    /* background-repeat: repeat; */
}
.main-container {
    position: fixed;
    top: 5%;
    bottom: 5%;
    right: 5%;
    left: 5%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    /* width: 90vw;
    height: 90vh; */
    border-radius: 50px;
    border-top: 3px solid rgba(255, 255, 255, 0.7);
    border-left: 3px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    overflow-y: auto;
}
.main-container::-webkit-scrollbar {
    width: 12px;
}
.main-container::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.0);
    border-radius: 15px;
}
.main-container::-webkit-scrollbar-thumb {
    background-color: rgba(19, 1, 83, 0.65);
    border-radius: 15px;
}
.math-form {
    display: flex;
    align-items: center;
}
.math-input {
    width: 70%;
    height: 50px;
    font-family:'Times New Roman', Times, serif;
    font-size: 2rem;
}
.math-input::placeholder {
    font-size: 1rem;
}
.math-form .language {
    height: 100%;
}
.language {
    font-size: 0.9rem;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 5px 15px;
    border-radius: 10000px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 10;
    margin-bottom: 10px;
}
.language::before {
    content: attr(text);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: -100%;
    top: 0;
    transition: all 0.3s;
    z-index: 1;
}
.language:hover {
    color: black;
}
.language:hover::before {
    left: 0;
}
.shortcut:nth-child(1) {
    margin-top: 10px;
    /* color: rgb(36, 36, 36); */
    border-radius: 1000px;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    /* background: linear-gradient(90deg, rgb(185, 185, 185) 0%, rgba(133,133,133,1) 100%); */
}
.shortcut:nth-child(2) {
    /* color: rgb(230, 230, 230);
    background: linear-gradient(90deg, rgba(133,133,133,1) 0%, rgba(88,88,88,1) 100%); */
    border-radius: 1000px;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
}
.shortcut:nth-child(3) {
    /* background: linear-gradient(90deg, rgba(88,88,88,1) 0%, rgba(42,42,42,1) 100%); */
    border-radius: 1000px;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
}
input[type="submit"],button {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    font-size: 0.9rem;
    color: white;
}
.math-form .submit {
    height: 100%;
}
.math-output {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.math-output .step {
    max-width: 50%;
    overflow: auto;
}
.math-output .step::-webkit-scrollbar {
    height: 10px;
}
.math-output .step::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}
.math-output .step::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
.math-output .step-text {
    /* margin-right: auto; */
    font-size: 1.1rem;
    position: relative;
    overflow: auto;
    max-width: 45%;
}
/* @media only screen and (max-width: 700px) {
    .math-output .step {
        position: relative;
        transform: translate(0, 50%);
    }
    .math-output .step-text {
        max-width: 100%;
        white-space: nowrap;
        overflow: visible;
    }
} */
.divider {
    width: 90%;
    height: 2px;
    display: flex;
}
.divider div {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);

}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
footer h3 {
    margin: 1.1rem;
}
.spacer {
    height: 1000px;
    width: 100;
}