{% extends 'base.html' %}

{% block head %}
<link rel="icon" type="image/x-icon" href="static\css\icon.png">

{% endblock %}

{% block body %}
<div class="main-container">
    {% if error %}
    <div class="error">
        <h2>
            {{ error.string_ar }}
        </h2>
        <h2>
            {{ error.string_en }}
        </h2>
    </div>
    {% endif %}
    {% if arabic %}
    <form action="/language" method="post">
        <select name="language" class="language" onchange="this.form.submit()">
            <option value="ar">اللغة العربية</option>
            <option value="en">English</option>
        </select>
    </form>
    <form action="/" method="post" name="math-form" class="math-form" onsubmit="return validate()">
        <input type="submit" value="حساب" class="submit">
        <input type='number' name="der-num" class="math-input derivtive-number" min="1" max="20" placeholder="ادخل رقم المشتقة" style="direction: rtl;">
        <input type="text" name="math-input" class="math-input" placeholder="ادخل دالة تحتوي على x" style="direction: rtl;" oninput="if (this.value.trim() != '') {this.style.direction = 'ltr';} else {this.style.direction = 'rtl'}">
    </form>
    {% else %}
    <form action="/language" method="post">
        <select name="language" class="language" onchange="this.form.submit()">
            <option value="en">English</option>
            <option value="ar">اللغة العربية</option>
        </select>
    </form>
    <form action="/" method="post" name="math-form" class="math-form" onsubmit="return validate()">
        <input type="text" name="math-input" class="math-input" placeholder="Enter a function containing x" style="direction: ltr;">
        <input type='number' name="der-num" class="math-input derivtive-number" min="1" max="20" placeholder="Enter the derivative number" style="direction: ltr;">
        <input type="submit" value="Calculate" class="submit">
    </form>
        {% endif %}
    <div class="shortcuts">
        {% if arabic %}
        <button class="shortcut" onclick="document.forms['math-form']['math-input'].value = '()^'; document.forms['math-form']['math-input'].style.direction = 'ltr'">الدالة الأسية</button>
        <button class="shortcut" onclick="document.forms['math-form']['math-input'].value = '()/()'; document.forms['math-form']['math-input'].style.direction = 'ltr'">قسمة دالتين</button>
        <button class="shortcut" onclick="document.forms['math-form']['math-input'].value = '()*()'; document.forms['math-form']['math-input'].style.direction = 'ltr'">ضرب دالتين</button>
        {% else %}
        <button class="shortcut" onclick="document.forms['math-form']['math-input'].value = '()*()'; document.forms['math-form']['math-input'].style.direction = 'ltr'">Product rule</button>
        <button class="shortcut" onclick="document.forms['math-form']['math-input'].value = '()/()'; document.forms['math-form']['math-input'].style.direction = 'ltr'">Difference rule</button>
        <button class="shortcut" onclick="document.forms['math-form']['math-input'].value = '()^'; document.forms['math-form']['math-input'].style.direction = 'ltr'">Power rule</button>
        {% endif %}
    </div>
    <!-- {% set count = namespace(value=0) %}
    {% set count.value = count.value + 1 %} -->
    {% set main_loop = namespace(index=1) %}
    {% for derivative in derivatives %}
        {% if arabic %}
        <div class="derivative-num" style="font-size: 1.7rem; margin-top: 0.5rem;">({{ main_loop.index }}) المشتقة</div>
        {% else %}
        <div class="derivative-num" style="font-size: 1.7rem; margin-top: 0.5rem;">Derivative number: ({{ main_loop.index }})</div>
        {% endif %}
        {% set main_loop.index = main_loop.index + 1 %}
        {% for step in derivative[0] %}
            <div class="math-output">
                {% if arabic %}
                <div class="step" style="margin-left: 1rem;">{{ step.get_latex() }}</div>
                <div class="step-text" style="margin-left: auto; direction: rtl;">{{ loop.index }}- {{ step.info_ar }}</div>
                {% else %}
                <div class="step-text" style="margin-right: auto;">{{ loop.index }}- {{ step.info_en }}</div>
                <div class="step" style="margin-right: 1rem;">{{ step.get_latex() }}</div>
                {% endif %}
            </div>
            {% endfor %}
        <div class="divider">
            <div></div>
        </div>
    {% endfor %}
    {% if input %}
    <form action="/next/?data={{input[1] + 1}}" method="post" name='next'>
        {% if arabic %}
            <button type="submit">إيجاد المشتقة التالية</button>
            {% else %}
            <button type="submit">Calculate next derivative</button>
        {% endif %}
    </form>
    {% endif %}
    <div id="plot" style="margin-top: 0.5rem;"></div>
    <footer>
        <h3>عمل الطالب: عمر صفوت</h3>
        <h3>الصف: الثاني عشر - ب</h3>
        <h3>تحت إشراف الأستاذ الفاضل: محمود عبد الحميد </h3>
        <h3>مدارس الإيمان - قسم البنين</h3>
        <img src="https://www.alimans.com/content/theme/user/images/alimans-logo-main-s.svg" alt="logo">

    </footer>
</div>
<script type='text/javascript'>
    let form = document.forms['math-form'];
    function validate() {
        if (form['math-input'].value.trim() != '' && form['der-num'].value.trim() != '') {
            return true;
        }
        return false;
    }
    {% if plotting %}
    let x = {{ plotting[0]|safe }};
    let y = {{ plotting[1]|safe }};
    for(let i = 0; i < y.length; i++) {
        if(y[i] == 'Infinity') {
            y[i] = Infinity;
        }
    }
    let trace = {
        x: x,
        y: y,
        type: 'scatter'
    }
    Plotly.newPlot('plot', [trace])
    {% endif %}
</script>
<!-- <div class="spacer"></div> -->
{% endblock %}